<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwbk.Dao.ZwMapper">
  <resultMap id="BaseResultMap" type="com.zwbk.Entity.Zw">
    <id column="name" jdbcType="VARCHAR" property="name" />
    <result column="local" jdbcType="VARCHAR" property="local" />
    <result column="start_tem" jdbcType="VARCHAR" property="startTem" />
    <result column="end_tem" jdbcType="VARCHAR" property="endTem" />
    <result column="landform" jdbcType="VARCHAR" property="landform" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    name, local, start_tem, end_tem, landform
  </sql>
  <select id="selectByExample" parameterType="com.zwbk.Entity.ZwExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByLocal" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from zw
    where local = #{local,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zw
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from zw
    where name = #{name,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zwbk.Entity.ZwExample">
    delete from zw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zwbk.Entity.Zw">
    insert into zw (name, local, start_tem, 
      end_tem, landform)
    values (#{name,jdbcType=VARCHAR}, #{local,jdbcType=VARCHAR}, #{startTem,jdbcType=VARCHAR}, 
      #{endTem,jdbcType=VARCHAR}, #{landform,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zwbk.Entity.Zw">
    insert into zw
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="local != null">
        local,
      </if>
      <if test="startTem != null">
        start_tem,
      </if>
      <if test="endTem != null">
        end_tem,
      </if>
      <if test="landform != null">
        landform,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="local != null">
        #{local,jdbcType=VARCHAR},
      </if>
      <if test="startTem != null">
        #{startTem,jdbcType=VARCHAR},
      </if>
      <if test="endTem != null">
        #{endTem,jdbcType=VARCHAR},
      </if>
      <if test="landform != null">
        #{landform,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zwbk.Entity.ZwExample" resultType="java.lang.Long">
    select count(*) from zw
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zw
    <set>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.local != null">
        local = #{record.local,jdbcType=VARCHAR},
      </if>
      <if test="record.startTem != null">
        start_tem = #{record.startTem,jdbcType=VARCHAR},
      </if>
      <if test="record.endTem != null">
        end_tem = #{record.endTem,jdbcType=VARCHAR},
      </if>
      <if test="record.landform != null">
        landform = #{record.landform,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zw
    set name = #{record.name,jdbcType=VARCHAR},
      local = #{record.local,jdbcType=VARCHAR},
      start_tem = #{record.startTem,jdbcType=VARCHAR},
      end_tem = #{record.endTem,jdbcType=VARCHAR},
      landform = #{record.landform,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zwbk.Entity.Zw">
    update zw
    <set>
      <if test="local != null">
        local = #{local,jdbcType=VARCHAR},
      </if>
      <if test="startTem != null">
        start_tem = #{startTem,jdbcType=VARCHAR},
      </if>
      <if test="endTem != null">
        end_tem = #{endTem,jdbcType=VARCHAR},
      </if>
      <if test="landform != null">
        landform = #{landform,jdbcType=VARCHAR},
      </if>
    </set>
    where name = #{name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zwbk.Entity.Zw">
    update zw
    set local = #{local,jdbcType=VARCHAR},
      start_tem = #{startTem,jdbcType=VARCHAR},
      end_tem = #{endTem,jdbcType=VARCHAR},
      landform = #{landform,jdbcType=VARCHAR}
    where name = #{name,jdbcType=VARCHAR}
  </update>
</mapper>